 <div class="container-fluid">

        <div id="Home" class=" row align-items-center resumen">
            <div class="col-lg-3 offset-lg-2">
                <h1> Benedetti la pizze</h1>
                <P>  En Benedetti Contamos con personal capacitado para lograr que tu evento sea único e irrepetiblees una empresa dedicada al servicio de ventas de patas
                    flameadas y catering !!!!
                </P>

            </div>


        </div>
        <!--Cierre resumen empresa.-->
        <div class="row my-3 "> <!--comienzo productos.-->
            <div id="Productos" class=" col-md-5 offset-md-2 py-3 scroll-section ">
                <h2>PATAS FLAMBEADAS </h2>
                <ul class="lista-resumen">
                   {{#each novedades}}
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}"> <img
                            src="images/imagen patas 2.png">{{Titulo}}</a></li>
                {{/each}}

                </ul> 
            </div>
           
    <!-- Modal -->
    {{#each novedades}}
    <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{Subtitulo}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   {{Cuerpo}}
                </div>
             
            </div>
        </div>
    </div>
{{/each}}


         



           

            <!--cierre nodales y arranca testimonios.-->

            <div class="col-md-3 my-3">
                <div class="rounded py-5 testimonios">
                    <h2 class="text-center">Testimonios</h2>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testimonio mt-4">
                                    <h5> la mejor pata del mundo !</h5>
                                    <p> Fransisco, barrio general paz</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonio mt-4">
                                    <h5> muy recomendable,
                                        los panes caseros lo mejor !</h5>
                                    <p> Jorge, valle escondido</p>
                                </div>
                            </div>
                            <div class="carousel-item mt-4 ">
                                <div class="testimonio">
                                    <h5> exquisita, el fondo de coccion deja a la carne
                                        muy jugosa y sabrosa !</h5>
                                    <p> Flavia, carlos paz</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div> <!--cierre Testimonios.-->

            </div> 
            <div><!--inicio historia.-->

                <div id="Historia" class="row align-items-center py-4 scroll-section ">
    
                    <div class="col-lg-4 col-md-5 offset-lg-2 d-none d-sm-block imagenes ">
                        <img   src="images/frente local.png" alt="historia-1" class="img-fluid">
                    </div>
    
                    
                    <div class="col-12 d-sm-none">
                        <img src="images/slider2.jpg" alt="historia-3" class="img-fluid">
                    </div>
    
                    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                        <h2>Nuestra Historia</h2>
                        <p>Todo empezó con un sueño  alla por el 2011 
                        desde un pequeño garage para convertirlo en una cocina dedicada al servicio de patas flameadas para todo tipos de enventos.
                        </p>
                        <p> El sueño se convirtió en realidad, 
                            el resto es historia...</p>
                    </div>
    
                </div>
    
            </div><!--cierre historia.-->


            <div id="Eventos" class="row align-items-strech my-3 eventos py-4 "> <!--Eventos.-->
                <div class="col-lg-8 offset-lg-2">
                    <h2>Eventos</h2>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
    
                        <div class="col">
                            <div class="card">
                                <img src="images/CARDCASAMIENTO.jpeg" class="card-img-top" alt="Diana Reyes">
                                <div class="card-body">
                                    <h5 class="card-title">Casamientos</h5>
                                    <p class="card-text">Celebra tu union matrimonial con nuestro servicios.</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                <img src="images/CARDCUMPLEAÑOS.jpg" class="card-img-top" alt="Juan Gomez">
                                <div class="card-body">
                                    <h5 class="card-title">Cumpleaños</h5>
                                    <p class="card-text">Festeja tu cumple con nuestros servicios.</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                <img src="images/CARDEVENTOSEMPRESARIALES.jpeg" class="card-img-top" alt="Roberto Zavala">
                                <div class="card-body">
                                    <h5 class="card-title">Eventos Empresariales</h5>
                                    <p class="card-text">Servicio para cualquier festejo de empresa.</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                <img src="images/CARDFESTEJOSDE15.jpg" class="card-img-top" alt="Luciano Figuero">
                                <div class="card-body">
                                    <h5 class="card-title">Festejos de 15 años</h5>
                                    <p class="card-text">
                                        Servicios para cumpleaños de 15.</p>
                                </div>
                            </div>
                        </div>

    
    
                    </div>
                </div>
            </div> <!--Eventos.-->



            <div><!--div padre seccion fondo.-->

                <div id="Conocenos" class="row py-4 scroll-section"><!--inicio seccion visitanos.-->
    
                    <div class="col-md-4 offset-md-2">
    
                        <h2>Visitanos</h2>
                        <div class="mapa">
                            <iframe   src="
                             https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2229629719377!2d-58.422641224548805!3d-34.598523072956134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb2e1493a6a3%3A0x1862a7c0b8163e5d!2sUTN.BA!5e0!3m2!1ses-419!2sar!4v1685633847631!5m2!1ses-419!2sar"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
    
                        </div>
                    </div>
               
    
                <div class="col-md-4 mt-4 mt-sm-0 formulario"> 
                    <h2>Contactanos</h2>
                    <form class="row g-3" action="/" method="post">
                        <div class="col-md-6">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="Nombre" name="nombre">
                        </div>
                        <div class="col-md-6">
                          <label for="apellido" class="form-label">Apellido</label>
                          <input type="text" class="form-control" id="apellido" name="apellido">
                        </div>
                        <div class="col-12">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                        </div>
                        <div class="col-12">
                          <label for="tel" class="form-label">Tel</label>
                          <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
                        
                        <div class="col-12">
                          <label for="mensaje" class="form-label">Mensaje</label>
                          <textarea  class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                          </textarea>
                        </div>
                        
                        <div class="col-12 mt-4">
                          <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                      </form>
                      <p>{{message}}</p>
    
                    </div><!--cierre seccion visitanos.-->
                </div>
            
            </div><!--div padre seccion fondo.-->
